.cart-c {

    margin-top: 30px;
    /* margin-bottom: 600px; */
    margin-left: 10px;
    position: sticky;
    /* top: 0; */
    /* display: none; */
    /* height: auto; */
    /* position: absolute; */
    top: 0;
    /* right: 0; */
    /* width: 45%; */
    /* height: 15%; */
    /* display: inline; */
    background-color: white;
    height: auto;
    border-radius: 20px;
    /* width: auto; */
    /* padding-right: 20%; */
    /* margin-top: -300px; */
}

.cart-info {
    margin-top: 30%;
    /* margin-bottom: 40%; */

}

.cart-info img {
    width: 50px;
    height: 50px;
}

.cart-info h3 {
    display: inline-flex;
    margin-top: 30px;
    margin-left: 10px;
}

.allSelectedFood {

    padding-bottom: 10px;
}

#randomBtnDiv button {
    margin-bottom: 10px;
    background-color: rgb(213, 46, 16);
    padding: 10px;
    width: 50%;
    margin-left: 20px;
    border-radius: 10px;
    /* border: none; */
    border: 0.5px solid yellow;
    display: block;

}

#randomBtnDiv {
    /* padding-bottom: 100px; */
    padding-bottom: 20px;
}

#choseAgianBtn {
    color: rgb(223, 132, 14);
    /* background-color: red; */
    /* width: 100%; */
}

#randomBtn {
    color: rgb(9, 226, 60);

}

#randomBtnDiv button:hover {
    background-color: chocolate;
    color: white;
}

@media only screen and (max-width: 800px) {
    #randomBtnDiv button {
        margin-bottom: 10px;
        background-color: rgb(213, 46, 16);
        padding: 10px;
        width: 100%;
        /* margin-left: 20px; */
        border-radius: 10px;
        /* border: none; */
        border: 0.5px solid yellow;
        /* display: block; */
        margin-left: 0;

    }

    .cart-info h3 {
        margin-left: 25%;
        align-items: center;

    }
}