.cart-c {

    margin-top: 30px;
    margin-left: 10px;
    position: sticky;
    top: 0;
    background-color: white;
    height: auto;
    border-radius: 20px;
}

.cart-info {
    margin-top: 30%;

}

.cart-info img {
    width: 50px;
    height: 50px;
}

.cart-info h3 {
    display: inline-flex;
    margin-top: 30px;
    margin-left: 10px;
}

.allSelectedFood {

    padding-bottom: 10px;
}

#randomBtnDiv button {
    margin-bottom: 10px;
    background-color: rgb(213, 46, 16);
    padding: 10px;
    width: 50%;
    margin-left: 20px;
    border-radius: 10px;
    border: 0.5px solid yellow;
    display: block;

}

#randomBtnDiv {
    padding-bottom: 20px;
}

#choseAgianBtn {
    color: rgb(223, 132, 14);
}

#randomBtn {
    color: rgb(9, 226, 60);

}

#randomBtnDiv button:hover {
    background-color: chocolate;
    color: white;
}

@media only screen and (max-width: 800px) {
    #randomBtnDiv button {
        margin-bottom: 10px;
        background-color: rgb(213, 46, 16);
        padding: 10px;
        width: 100%;
        border-radius: 10px;
        border: 0.5px solid yellow;
        margin-left: 0;

    }

    .cart-info h3 {
        margin-left: 25%;
        align-items: center;

    }
}