.single-cart-info {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.eachSeletedItem {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.single-cart-info p {
    margin-left: 30px;
}

.single-cart-info img,
p {
    margin-top: 5px;
}

.single-cart-info img {

    width: 30px;
    height: 30px;
}

.selectedFoodBackground {
    background-color: black;
    padding: 10px;
    border-radius: 50px;
}

.fontAwesome {
    margin-right: 10px;
}

@media only screen and (max-width: 800px) {
    .eachSeletedItem {
        align-items: center;
        justify-content: space-evenly;
        margin-left: 0;
    }

    .single-cart-info p {
        margin-left: 8px;
    }


}